In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in Patient Info
# Read in the california housing data set
PatientInfo_data = pd.read_csv('../Data/sg/PatientInfo.csv')
PatientInfo_data.head()

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,infection_order,infected_by,contact_number,symptom_onset_date,confirmed_date,released_date,deceased_date,state
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,1.0,NaN,75.0,2020-01-22,2020-01-23,2020-02-05,NaN,released
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,1.0,NaN,31.0,NaN,2020-01-30,2020-03-02,NaN,released
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,2.0,2.002000e+09,17.0,NaN,2020-01-30,2020-02-19,NaN,released
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,1.0,NaN,9.0,2020-01-26,2020-01-30,2020-02-15,NaN,released
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,2.0,1.000000e+09,2.0,NaN,2020-01-31,2020-02-24,NaN,released

In [73]:
Case_data =pd.read_csv('../Data/sg/Case.csv')
Case_data.head()

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,79,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,24,37.592888,127.056766
2,1000003,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165
3,1000004,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403
4,1000005,Seoul,Jongno-gu,True,Jongno Community Center,10,37.57681,127.006

In [81]:
TimeGender_data = pd.read_csv('../Data/sg/Case.csv')
condition_True = (TimeGender_data["group"]==True)
TimeGender_data[condition_True]
count_True = len(TimeGender_data[condition_True])
print(count_True)


condition_False = (TimeGender_data["group"]==False)
TimeGender_data[condition_False]
count_False = len((TimeGender_data[condition_False]))
print(count_False)

TimeGender_data.head()

51
30

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,79,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,24,37.592888,127.056766
2,1000003,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165
3,1000004,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403
4,1000005,Seoul,Jongno-gu,True,Jongno Community Center,10,37.57681,127.006

In [3]:
len(PatientInfo_data)

2243

## Gender

In [90]:
condition_deceased = (PatientInfo_data["state"]=="deceased")

condition_male = (PatientInfo_data["sex"]=="male")

condition_both = condition_deceased & condition_male
print("Male")
print(len(PatientInfo_data[condition_male]))
print(len(PatientInfo_data[condition_both]))


condition_female = (PatientInfo_data["sex"]=="female")
condition_both2 = condition_deceased & condition_female
print("Female")
print(len(PatientInfo_data[condition_female]))
print(len(PatientInfo_data[condition_both2]))

Male
937
22
Female
1210
9

## Convert to Date

##    Days: Released Date MINUS Confirmed Date

In [4]:
PatientInfo_data.dtypes

patient_id              int64
global_num            float64
sex                    object
birth_year            float64
age                    object
country                object
province               object
city                   object
disease                object
infection_case         object
infection_order       float64
infected_by           float64
contact_number        float64
symptom_onset_date     object
confirmed_date         object
released_date          object
deceased_date          object
state                  object
dtype: object

In [5]:
# Changing format 
PatientInfo_data["Date IN"]= pd.to_datetime(PatientInfo_data["confirmed_date"])

In [6]:
# Changing format 
PatientInfo_data["Date OUT"]= pd.to_datetime(PatientInfo_data["released_date"])

In [7]:
# Changing format 
PatientInfo_data["Date Symptoms"]= pd.to_datetime(PatientInfo_data["symptom_onset_date"])

In [8]:
PatientInfo_data["Days"] = PatientInfo_data["Date OUT"] - PatientInfo_data["Date IN"]

In [10]:
PatientInfo_data["Days"].mean()

Timedelta('13 days 22:52:01.030042')

## Age is a Number

In [11]:
PatientInfo_data["age"]

0       50s
1       30s
2       50s
3       20s
4       20s
       ...
2238    30s
2239    20s
2240    20s
2241    40s
2242    40s
Name: age, Length: 2243, dtype: object

In [12]:
Age = []
PatientInfo_data["age"].fillna("-1s", inplace = True)

ages = PatientInfo_data["age"]  
BeforeSymbol = PatientInfo_data["age"].str.split('s').str[0]
BeforeSymbol
for age in BeforeSymbol:
        Age.append(int(age))
        
Age

PatientInfo_data["Age"] = Age

In [72]:
PatientInfo_data.head()

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,...,symptom_onset_date,confirmed_date,released_date,deceased_date,state,Age,Date IN,Date OUT,Date Symptoms,Days
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,...,2020-01-22,2020-01-23,2020-02-05,NaN,released,50,2020-01-23,2020-02-05,2020-01-22,13 days
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,...,NaN,2020-01-30,2020-03-02,NaN,released,30,2020-01-30,2020-03-02,NaT,32 days
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,...,NaN,2020-01-30,2020-02-19,NaN,released,50,2020-01-30,2020-02-19,NaT,20 days
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,...,2020-01-26,2020-01-30,2020-02-15,NaN,released,20,2020-01-30,2020-02-15,2020-01-26,16 days
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,...,NaN,2020-01-31,2020-02-24,NaN,released,20,2020-01-31,2020-02-24,NaT,24 days

## Examine: Contact Number and State "Deceased"

In [14]:
PatientInfo_data["contact_number"]

0       75.0
1       31.0
2       17.0
3        9.0
4        2.0
        ...
2238     NaN
2239    87.0
2240    84.0
2241    21.0
2242    74.0
Name: contact_number, Length: 2243, dtype: float64

## Column contact_number represents how many contacts the Patient had.

In [15]:
Max_contact = PatientInfo_data["contact_number"].max()

super_max = Max_contact + 1


Max_contact
Max=int(Max_contact)
Max

1160

In [17]:
PatientInfo_data["contact_number"].mean()

24.019370460048425

In [18]:
unique_number = PatientInfo_data["contact_number"].unique()
unique_number
len(unique_number)

73

In [19]:
unique_number[0]

75.0

In [20]:
len(unique_number)
check_point = len(unique_number)

## Study: Relationship of Deceased with Contact Number

In [21]:
condition_deceased = (PatientInfo_data["state"]=="deceased")

In [22]:
PatientInfo_deceased = PatientInfo_data[condition_deceased]

In [25]:
total_deceased = len(PatientInfo_deceased)
total_deceased

32

In [26]:
PatientInfo_deceased["contact_number"]

405    NaN
444    NaN
445    NaN
446    NaN
447    NaN
448    NaN
449    NaN
450    NaN
451    NaN
452    NaN
453    NaN
454    NaN
455    NaN
456    NaN
457    NaN
458    NaN
459    NaN
460    NaN
461    NaN
462    NaN
652    NaN
942    NaN
1636   NaN
1935   NaN
1971   NaN
2049   NaN
2050   NaN
2051   NaN
2052   NaN
2053   NaN
2054   NaN
2055   NaN
Name: contact_number, dtype: float64

In [27]:
PatientInfo_data["state"].unique()

array(['released', 'isolated', 'deceased', nan], dtype=object)

In [28]:
condition_released = (PatientInfo_data["state"]=="released")
PatientInfo_released = PatientInfo_data[condition_released]

In [29]:
PatientInfo_released["contact_number"]

0       75.0
1       31.0
2       17.0
3        9.0
4        2.0
        ...
2233     NaN
2235     NaN
2236     NaN
2240    84.0
2241    21.0
Name: contact_number, Length: 314, dtype: float64

In [30]:
PatientInfo_released["Age"].mean()

34.15923566878981

In [31]:
PatientInfo_released["Age"].min()

-1

In [32]:
PatientInfo_released["Age"].max()

80

In [33]:
number_deceased = []

In [34]:
n=0
condition = ((PatientInfo_data["contact_number"] == unique_number[n]))
condition_study = condition_deceased & condition
number_deceased.append(len(PatientInfo_data[condition_study]))

PatientInfo_data[condition_study]

Empty DataFrame
Columns: [patient_id, global_num, sex, birth_year, age, country, province, city, disease, infection_case, infection_order, infected_by, contact_number, symptom_onset_date, confirmed_date, released_date, deceased_date, state, Date IN, Date OUT, Date Symptoms, Days, Age]
Index: []

[0 rows x 23 columns]

In [35]:
for n in range(check_point):
    condition = ((PatientInfo_data["contact_number"] == unique_number[n]))
    condition_study = condition_deceased & condition
    number_deceased.append(len(PatientInfo_data[condition_study]))

In [69]:
if_contact_number = 10

In [71]:
condition = (PatientInfo_data["contact_number"] >= if_contact_number)
then_deceased = len(PatientInfo_data[condition])
print("If contact number is :" + str(if_contact_number))
print("Then deceased is :"+str(then_deceased))
      
PatientInfo_data[condition]

If contact number is :10
Then deceased is :149

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,...,symptom_onset_date,confirmed_date,released_date,deceased_date,state,Date IN,Date OUT,Date Symptoms,Days,Age
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,...,2020-01-22,2020-01-23,2020-02-05,NaN,released,2020-01-23,2020-02-05,2020-01-22,13 days,50
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,...,NaN,2020-01-30,2020-03-02,NaN,released,2020-01-30,2020-03-02,NaT,32 days,30
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,...,NaN,2020-01-30,2020-02-19,NaN,released,2020-01-30,2020-02-19,NaT,20 days,50
5,1000000006,10.0,female,1966.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,...,NaN,2020-01-31,2020-02-19,NaN,released,2020-01-31,2020-02-19,NaT,19 days,50
8,1000000009,19.0,male,1983.0,30s,Korea,Seoul,Songpa-gu,NaN,overseas inflow,...,NaN,2020-02-05,2020-02-21,NaN,released,2020-02-05,2020-02-21,NaT,16 days,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1896,6014000001,NaN,female,1959.0,60s,Korea,Gyeongsangbuk-do,Yeongju-si,NaN,NaN,...,NaN,2020-02-22,NaN,NaN,isolated,2020-02-22,NaT,NaT,NaT,60
2239,7000000001,139.0,male,1998.0,20s,Korea,Jeju-do,Jeju-do,NaN,etc,...,NaN,2020-02-20,NaN,NaN,isolated,2020-02-20,NaT,NaT,NaT,20
2240,7000000002,222.0,female,1998.0,20s,Korea,Jeju-do,Jeju-do,NaN,etc,...,NaN,2020-02-22,2020-03-07,NaN,released,2020-02-22,2020-03-07,NaT,14 days,20
2241,7000000003,4345.0,female,1972.0,40s,Korea,Jeju-do,etc,NaN,etc,...,NaN,2020-03-02,2020-03-15,NaN,released,2020-03-02,2020-03-15,NaT,13 days,40
2242,7000000004,5534.0,male,1974.0,40s,Korea,Jeju-do,Jeju-do,NaN,etc,...,NaN,2020-03-04,NaN,NaN,isolated,2020-03-04,NaT,NaT,NaT,40

In [43]:
Avg_contact = PatientInfo_data["contact_number"].mean()
Avg_contact

24.019370460048425

In [44]:
Max_contact = PatientInfo_data["contact_number"].max()

condition_max = PatientInfo_data["contact_number"]==Max_contact
PatientInfo_data[condition_max]

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,...,symptom_onset_date,confirmed_date,released_date,deceased_date,state,Date IN,Date OUT,Date Symptoms,Days,Age
400,1200000031,31.0,female,1959.0,60s,Korea,Daegu,NaN,NaN,Shincheonji Church,...,NaN,2020-02-18,NaN,NaN,isolated,2020-02-18,NaT,NaT,NaT,60

In [45]:
Min_contact = PatientInfo_data["contact_number"].min()

In [46]:
condition_zero = (PatientInfo_data["contact_number"]> 0)

Condition contact_number is non zero

In [47]:
condition_nonZero = PatientInfo_data["contact_number"]> 0
PatientInfo_data[condition_nonZero]

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,...,symptom_onset_date,confirmed_date,released_date,deceased_date,state,Date IN,Date OUT,Date Symptoms,Days,Age
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,...,2020-01-22,2020-01-23,2020-02-05,NaN,released,2020-01-23,2020-02-05,2020-01-22,13 days,50
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,...,NaN,2020-01-30,2020-03-02,NaN,released,2020-01-30,2020-03-02,NaT,32 days,30
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,...,NaN,2020-01-30,2020-02-19,NaN,released,2020-01-30,2020-02-19,NaT,20 days,50
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,...,2020-01-26,2020-01-30,2020-02-15,NaN,released,2020-01-30,2020-02-15,2020-01-26,16 days,20
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,...,NaN,2020-01-31,2020-02-24,NaN,released,2020-01-31,2020-02-24,NaT,24 days,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1897,6014000002,NaN,male,1998.0,20s,Korea,Gyeongsangbuk-do,Yeongju-si,NaN,NaN,...,NaN,2020-02-24,NaN,NaN,isolated,2020-02-24,NaT,NaT,NaT,20
2239,7000000001,139.0,male,1998.0,20s,Korea,Jeju-do,Jeju-do,NaN,etc,...,NaN,2020-02-20,NaN,NaN,isolated,2020-02-20,NaT,NaT,NaT,20
2240,7000000002,222.0,female,1998.0,20s,Korea,Jeju-do,Jeju-do,NaN,etc,...,NaN,2020-02-22,2020-03-07,NaN,released,2020-02-22,2020-03-07,NaT,14 days,20
2241,7000000003,4345.0,female,1972.0,40s,Korea,Jeju-do,etc,NaN,etc,...,NaN,2020-03-02,2020-03-15,NaN,released,2020-03-02,2020-03-15,NaT,13 days,40
2242,7000000004,5534.0,male,1974.0,40s,Korea,Jeju-do,Jeju-do,NaN,etc,...,NaN,2020-03-04,NaN,NaN,isolated,2020-03-04,NaT,NaT,NaT,40

In [48]:
condition_deceased = (PatientInfo_data["state"]=="deceased")
PatientInfo_data[condition_deceased]
len(PatientInfo_data[condition_deceased])

32

In [49]:
ages = PatientInfo_data[condition_deceased]["age"]  


BeforeSymbol = PatientInfo_data[condition_deceased]["age"].str.split('s').str[0]


    
BeforeSymbol
age_list = []

for ages in BeforeSymbol:
    if pd.notna(ages):
        age_list.append(int(ages))
    
age_list
sum = 0
for age in age_list:
    sum = sum + age
    
total = len(age_list)
print(total)
mean = 0
mean = sum/total
mean
avg_age_deceased = mean
avg_age_deceased

32

62.46875

In [50]:
condition_both = condition_nonZero & condition_deceased

In [51]:
len(PatientInfo_data[condition_both])

0

In [52]:
condition_both = condition_zero & condition_deceased
len(PatientInfo_data[condition_both])

0

## Patient MADE it

In [53]:
condition_alive = (PatientInfo_data["state"]!="deceased")

In [54]:
PatientInfo_data[condition_alive]

,patient_id,global_num,sex,birth_year,age,country,province,city,disease,infection_case,...,symptom_onset_date,confirmed_date,released_date,deceased_date,state,Date IN,Date OUT,Date Symptoms,Days,Age
0,1000000001,2.0,male,1964.0,50s,Korea,Seoul,Gangseo-gu,NaN,overseas inflow,...,2020-01-22,2020-01-23,2020-02-05,NaN,released,2020-01-23,2020-02-05,2020-01-22,13 days,50
1,1000000002,5.0,male,1987.0,30s,Korea,Seoul,Jungnang-gu,NaN,overseas inflow,...,NaN,2020-01-30,2020-03-02,NaN,released,2020-01-30,2020-03-02,NaT,32 days,30
2,1000000003,6.0,male,1964.0,50s,Korea,Seoul,Jongno-gu,NaN,contact with patient,...,NaN,2020-01-30,2020-02-19,NaN,released,2020-01-30,2020-02-19,NaT,20 days,50
3,1000000004,7.0,male,1991.0,20s,Korea,Seoul,Mapo-gu,NaN,overseas inflow,...,2020-01-26,2020-01-30,2020-02-15,NaN,released,2020-01-30,2020-02-15,2020-01-26,16 days,20
4,1000000005,9.0,female,1992.0,20s,Korea,Seoul,Seongbuk-gu,NaN,contact with patient,...,NaN,2020-01-31,2020-02-24,NaN,released,2020-01-31,2020-02-24,NaT,24 days,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2238,6100000085,NaN,male,1990.0,30s,Korea,Gyeongsangnam-do,Changwon-si,NaN,NaN,...,NaN,2020-03-16,NaN,NaN,NaN,2020-03-16,NaT,NaT,NaT,30
2239,7000000001,139.0,male,1998.0,20s,Korea,Jeju-do,Jeju-do,NaN,etc,...,NaN,2020-02-20,NaN,NaN,isolated,2020-02-20,NaT,NaT,NaT,20
2240,7000000002,222.0,female,1998.0,20s,Korea,Jeju-do,Jeju-do,NaN,etc,...,NaN,2020-02-22,2020-03-07,NaN,released,2020-02-22,2020-03-07,NaT,14 days,20
2241,7000000003,4345.0,female,1972.0,40s,Korea,Jeju-do,etc,NaN,etc,...,NaN,2020-03-02,2020-03-15,NaN,released,2020-03-02,2020-03-15,NaT,13 days,40
2242,7000000004,5534.0,male,1974.0,40s,Korea,Jeju-do,Jeju-do,NaN,etc,...,NaN,2020-03-04,NaN,NaN,isolated,2020-03-04,NaT,NaT,NaT,40

In [55]:
alive = len(PatientInfo_data[condition_alive])
alive

2211

In [56]:
ages_alive = PatientInfo_data[condition_alive]["age"]  


BeforeSymbol = PatientInfo_data[condition_alive]["age"].str.split('s').str[0]


    
BeforeSymbol
age_alive = []

for ages in BeforeSymbol:
    if pd.notna(ages):
        age_alive.append(int(ages))
    
age_alive
sum = 0
for age in age_alive:
    sum = sum + age
    
total = len(age_alive)
print(total)
mean = 0
mean = sum/total
mean

# How many made it alive about the age : avg_age_deceased ?

2211

35.365445499773855

## How many Alive above the Average Age Deceased

In [57]:
count = 0

for age in age_alive:
    if (age >= avg_age_deceased):
        count = count + 1
        
print(count)

205

In [ ]:
#Examined the age of the Patient's that were not deceased and looked at 
# how many were above the average age of the deceased 62

#Days hospitalized
#Update This file

#Age and Contact_Number
#Bar by Male/Female
#All Female
#All Male